@{
    ViewData["Title"] = "Home Page";
}

<div class="button-container">
    <h1 class="display-2">Validades</h1>
    <button class="btn btn-primary btn-block btn-large">Cadastrar Validade</button>
    <button class="btn btn-primary btn-block btn-large">Listar Validades</button>
</div>
